<!DOCTYPE html>
<html>
  <%- partial('partials/head', {title}) %>
  <body>
    <header>
      <%- partial('partials/menu', {links})%>
    </header>
    <main class="content">
      <%-body%>
    </main>
    <footer>
    </footer>
  </body>
</html>