<!DOCTYPE html>
<html>
  <%- partial('partials/head', {title}) %>
  <body>
    <header>
    </header>
    <main>
      <section class="sidebar">
        <%- partial('partials/menu', {links})%>
      </section>
      <section>
        <%-body%>
      </section>
      <footer>
        
      </footer>
    </main>
  </body>
</html>